:root {
  --primary-color: #7d60d3;
  --primary-color-dark: #4c358f;
  --primary-color-light: #a894df;
  --primary-color-light: rgb(168, 148, 223);
  --primary-color-ultra-light: #edeaf8;
  --bg-color-light:rgb(219, 215, 230);
  --header-height: 12vh;
  --filter-primary-color: invert(38%) sepia(54%) saturate(718%) hue-rotate(214deg) brightness(101%) contrast(85%);
  --filter-primary-color-ultra-light: invert(95%) sepia(35%) saturate(4680%) hue-rotate(181deg) brightness(108%) contrast(95%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  border:0;
  text-decoration: none;
  outline: none;
  text-decoration: none;
  transition: all .4s
}
a{
  color:var(--primary-color-dark);
}
#top-alert a{
  color: var(--bg-color-light)
}

body{
  background-color: var(--bg-color-light);
  min-height: 100vh;
  height: auto;

}
span{
  vertical-align: middle;
}
div.main{
  max-width: 100vw;
  min-height: 100vh;
  height: calc(100vh + 250px);
  margin: 0 auto;

}
label{
  width: 100%;
  margin-left: 5px;
  font-size: .89em;
  font-weight: 600;
  color: var(--primary-color-light);
}
input[type='text'], input[type='password'], input[type='search'], input[type='number']{
  height: 55px;
  padding: 15px;
  width: 100%;
  color: var(--primary-color-dark);
  background-color: #fcfaff;
  border-radius: 4px;
  margin-top:5px;
}
h3{
  border-bottom: 1px solid var(--bg-color-light);
  padding-bottom: 10px;
}
#top-alert{
  height: auto;
  background-color: var(--primary-color);
  padding: 8px 15px;
  text-align: right;
  font-size: 1rem;
}
#top-alert .alert-ico{
  display: inline-block;
  width: 18%;
}
.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  vertical-align: middle;
  width: 60%;
  margin: 0 auto;
  color: var(--bg-color-light);
}
.user, .logout{
  margin-left: 10px;
}
.logout{
  cursor: pointer;
}

.logo{
  font-weight: 600;
  color: #c3b7ec;
}
.logo svg{
  width: 30px;
}

.version{
  width: 60%;
  margin: 0 auto;
  font-size: 0.7rem;
  color: #a894df;
  padding:10px 0 20px 20px;
}

#top-alert img{
  vertical-align: middle;
  opacity: .8;
  cursor: pointer;
}
.notification-length{
  position: absolute;
  display: inline-block;
  background-color: #ef3b3b;
  font-size: .7rem;
  padding: 6px 3px;
  border-radius: 4px;
  left: 94%;
  top: .5%;
  z-index: 1;
  text-align: center;
  min-width: 15px;
}
section:not(#top-alert){
  margin: 10px 0;
  background-color: #f6f2fb;
  padding: 15px;
  border-radius: 4px;
  color:var(--primary-color-dark);
}
section h3{
  color:var(--primary-color-dark);
}
section article{    
  margin-top: 20px;;
}
header{
  width: 100%;
  height: var(--header-height);
  background-color: var(--primary-color);
  position: fixed;
  top: calc(100% - var(--header-height));
  z-index: 200;
}
nav{
  padding:20px;
  height: 100%;
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
nav li{
  background-color: var(--primary-color-light);
  height: 100%;
  width: calc(100% / 3 - 10px);
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--primary-color-dark);
}
nav li:hover{
  text-shadow: 2px 2px 10px var(--primary-color);
}
nav li:active{
  color: #644caa;
  border:1px solid var(--primary-color-dark);
  font-size: .9rem;
  box-shadow: 2px 2px 3px #4c358f inset ;
}
/* #agenda select{
  display: inline-block;
  height: 30px;
  padding-left: 8px;
  background-color: #fcfaff;
  appearance: none;
  border-radius: 4px;
  border-bottom: 1px solid var(--primary-color);
} */
select{
  display: inline-block;
  height: 30px;
  width: 100%;
  padding-left: 8px;
  background-color: #fcfaff;
  appearance: none;
  border-radius: 4px;
  border-bottom: 1px solid var(--primary-color);
}

#mes-select{
  width: 71%;
  margin-right: 10px;
}
#ano-select{
  width: 25%;
}
.grid-semana{
  display: grid;
  grid-template-columns: repeat(8, 1fr);;
}
.grid-semana > div{
  text-align: center;
}
.grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.gr{
  display: flex;
  gap: 5px;
}
.gr span{
  padding: 5px;
  width:30px;
}
.dia{
  border: 1px solid var(--primary-color-light);
  min-height: 30px;
  margin-left: 10px;
}
.dia.off{
  border: 1px solid var(--bg-color-light);
}
.dia.worked{
  background-color: var(--primary-color);
}
.dias-container{
  display: flex;
}

.sm-mar--top{
  margin-top: 15px;
}
.md-mar--top{
  margin-top: 30px;
}
.l-mar--top{
  margin-top: 45px;
}
.xl-mar--top{
  margin-top: 60px;
}
.sm-mar--bottom{
  margin-bottom: 15px;
}
.md-mar--bottom{
  margin-bottom: 30px;
}
.md-mar--right{
  margin-right: 30px;
}
.sm-mar--left{
  margin-left: 15px;
}
.md-mar--left{
  margin-left: 30px;
}
.flex-container-collumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-color-light);
  width: 30%;
}
.flex-container-collumn img, h4 img{
  filter: var(--filter-primary-color);
}
.flex-container{
  display: flex;
  justify-content: space-evenly;
}
.space-between{
  justify-content: space-between;
  margin-top:3px;
}
.align--center{
  text-align: center;
  align-items: center;
}
.align-right{
  text-align: right;
}
.bold{
  font-weight: 600;
}
.gap-30{
  gap:30px;
}
section#last-section{
  margin-bottom: calc(10px + var(--header-height));
}
.grupo-musculacao{
  background-color: var(--primary-color-ultra-light);
  padding: 10px;
  border-radius: 4px;
  margin:3px 3px;
  display: inline-block;
  width: calc(50% - 9px);
  text-align: center;
}
.grupo-musculacao.cardio{
  width: 98%;
}
.grupo-musculacao.full-width{
  width: 98%;
}
.grupo-musculacao .chave{
  font-size: 1.3rem;
  border-bottom: 2px solid #c3b4ed;
  margin-bottom: 5px;
  padding-bottom: 1px;
}
.img-title{
  filter:var(--filter-primary-color);
  vertical-align: middle;
}
.plus-ico{
  margin-right: 5px;
}
.combo-add-treino{
  display: grid;
  grid-template-columns: repeat(3, 33%);
}
.combo-add-cardio{
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.add-serie-container {
 display: flex;
 justify-content: space-around;
 width: 150px;
 z-index: 2;
 margin: 0 auto;
}
.combo-add-cardio .add-serie-container{
  justify-content: space-between;
}
.combo-add-treino svg, .combo-add-cardio svg{
  font-size: 1.6rem;
  cursor: pointer;
}
.combo-add-treino svg:active, .combo-add-cardio svg:active{
  font-size: 1.3rem;
  box-shadow: 3px 3px 3px var(--primary-color-light);
}
form .data{
  display: flex;
  justify-content: space-between;
}
input[type='date']{
  height: 35px;
  padding: 15px;
  color: var(--primary-color-dark);
  background-color: #fcfaff;
}
input::placeholder{
  color: #c1c1c1;
}
button{
  color: var(--primary-color-ultra-light);
  background-color: var(--primary-color);
  padding: 20px;
  font-size: 1rem;
  border-radius: 4px;
  z-index: 199;
  cursor: pointer;
}
button:hover{
  border-color: blueviolet;
}
button:active{
  box-shadow: 4px 4px 3px #4c358f inset ;
  font-size: .9rem;
}
.cardio-container__tipo{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.red-alert-message{
  color:tomato;
  vertical-align: middle;
}
.red-alert-message svg, .red-alert-message span{
  vertical-align: middle;
}
.number-day{
  color:#c3b7ec;
  opacity: .7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: .7rem;
}
.today{
  border: 2px solid rgb(255, 71, 163);
}
div.hide{
  position: absolute;
  left: 600px;
  z-index: 1;
  
}
div.hide > h1{
  transform: translateX(100px);
  opacity: 0;
}
.buttons-container{
  display: flex;
  justify-content: space-around;
}
.secundary-btn{
  background-color: unset;
  color: var(--primary-color-light);
  border: 1px solid var(--primary-color-light);
}
.search-container input, .search-container button{
  display: inline-block;
  border-radius: 0;
}
.search-container input{
  width: 80%;
  height: 50px;
}
.search-container button{
  width: 20%;
  padding: 15px;
}
.pointer{
  cursor: pointer;
}
.tomato{
  color:tomato;
  opacity: .7;
}
.green{
  color: rgb(97, 191, 97);
}
.tomato{
  color: tomato;
}
.inactive{
  opacity: 0.5;
  pointer-events: none;
}
.alertHide{
  top:-56px;
}
.alertShow{
  top: 0;
  
}
.esqueci{
  text-align: right;
  color: var(--primary-color);
  cursor: pointer;
}

button[disabled]{
  opacity: .5;
  pointer-events: none;
}

@media (max-width: 600px) {
  .menu, .version {
    width: 100%;
  }

}
