.loading{
    background-color: #c2adff;
    opacity: .7;
    z-index: 20;
    /* background-image: url('../public/assets/img/loading.gif'); */
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.loading-ico{
    font-size: 1.8rem;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
.loading-center{
    margin:0 auto;
    padding: 25px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}